
{% extends "common.html" %}
{% load static %}
{% block title %}	foodie  {% endblock  %}
{% block body %}

<h3 class="display-3 center px-2" style="text-align: center;"> RESTAUARTS</h3> {% if request.user.is_superuser %}

<a href=http://127.0.0.1:8000/admin/product/restaurant/add/> ADD new</a>
<ul  class="list-group">
{% endif %}
	{% for r in res %} 
	<li class="list-group-item mt-2 " style="background-color:rgb(211, 203, 203);"><a class="stretched-link" style='color:darkslategray' href="product/{{ r }}">  <h4>{{ r }}</h4></li>
	
</a>
</ul>

<br>
   {%  endfor %}

 {% endblock  %}

