
{% extends "common.html" %}
{% load static %}
{% block title %}	{{ restaurant }}  {% endblock  %}
{% block body %}

	
<div style="text-align: center;margin-left: 35%; margin-top: 19px;">
<div class="card" style="width: 18rem;text-align: center;">
   <img src="../{{ restaurant.image }}" class="card-img-top" alt="...">
   <div class="card-body">
     <h5 class="card-title">{{ restaurant.name }}</h5>
     <p class="card-text">DECSRIPTION</p>
   </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item">OUR ITEMS</li>

     {% for r in restaurant.menu.all %} 

     <li class="list-group-item">{{ r }}{% if request.user.is_staff %} &nbsp; &nbsp;
     <a class="stretched-link" style="color:purple" href=http://127.0.0.1:8000/admin/product/food/{{ r.id }}/change/> EDIT</a>
   </li>
{% endif %}

   {%  endfor %}

      
   </ul>
   <div class="card-body">
      <h5> Address: {{ restaurant.address }}</h5>
   </div>
 </div>
</div>


 {% endblock  %}

