
       {% extends "common.html" %}
{% load static %}
{% block title %}	foodie  {% endblock  %}
{% block body %}

                 
                    <form class="form" method="POST" action="">
                        {% csrf_token %}

                        
                           
                                  <input type="text" name="username" class="form-control" placeholder="User Name...">
                                </div>
                            </div>

                          

                         
                                  <input type="password" name="password" placeholder="Password..." class="form-control" />
               	<input  type="submit" value="Login"> 
                    </form>
           

                          
       
    </form>
    {% endblock %}